header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 10px;
    border-bottom: #e6e6e6 1px solid;
    width: 40%;
    margin: 0 auto;
}

header h1 {
    width: 20%;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #444444;
    background: #FFFFFF;
}

header h1::first-letter {
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    color: #009900;
    background: #FFFFFF;
}

nav {
    width: 60%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

nav a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: #444444;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #009900;
    text-decoration-thickness: 3px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #009900;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}

main {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

main h1{
    text-align: center;
}

/* .game {
    width: 70%;
    float: left;
}

table {
    float: right;
    width: 20%;
}  */

table, tr, th, td {
    padding: 0.3rem;
    border: 1px solid grey;
    border-collapse: collapse;
}
td {
    min-width: 40px;
}

.yatzy-1 {
    border-bottom: 2px solid #009900;
}

.button {
    color: #333;
    background-color: #fff;
    background-image: linear-gradient(#fff, #eee);
    border: 1px solid #ccc;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 1.1rem;
}

.button:hover {
    background-color: #ddd;
    background-image: none;
}

.button:active {
    background-color: #dcdcdc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

.current-turn {
    border: 2px solid blue;
}
